.catalog {
  @include section-padding;
  text-align: center;
}

.catalog-inner {
  @include inner;
}

.catalog-title {
  @include section-title;
  margin: 0 0 87px;

  @media (max-width: $tablet-max) {
    margin: 0 0 70px;
  }
  @media (max-width: $mobile-max) {
    margin: 0 0 50px;
  }
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 105px;

  @media (max-width: $tablet-max) {
    margin-bottom: 80px;
  }
  @media (max-width: $mobile-max) {
    margin-bottom: 60px;
  }
}

.catalog-item {
  flex-basis: 25%;
  flex-shrink: 0;
  padding: $gap-half;

  @media (max-width: $tablet-max) {
    flex-basis: 50%;
  }
  @media (max-width: $mobile-max) {
    flex-basis: 100%;
  }
}

.catalog-item-wrap{
  position: relative;
}

.catalog-img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.catalog-item-description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: $color-light;
}
