.filter {
  display: flex;
  justify-content: center;
  margin: -10px 0 30px;

  @media (max-width: $tablet-max) {
    justify-content: flex-start;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
}

.filter-item {
  list-style: none;
  margin: 0 25px;
}

.filter-link {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  color: $color-dark;
  text-transform: uppercase;

  &.active {
    color: $color-accent;
  }
}
