.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: $color-dark;
  height: 90px;

  @media (max-width: $mobile-max) {
    height: 70px;
  }
}

.header-inner {
  @include inner;
}

.header-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-max) {
    padding-top: 15px;
  }
}

.menu-list {
  display: flex;

  li {
    list-style: none;
    padding: 33px 25px;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
  }

  .active {
    background-color: $color-accent;
  }

  @media (max-width: $mobile-max) {
    display: none;
  }
}

.header-burger {
  display: none;
  margin-right: 16px;

  @media (max-width: $mobile-max) {
    display: block;
  }
}
