.order {
  background-color: rgba($color-dark, $alpha: 0.1);
  padding: 130px 0;

  @media (max-width: $tablet-max) {
    padding: 120px 0;
  }
  @media (max-width: $mobile-max) {
    padding: 90px 0;
  }
}

.order-inner {
  @include inner;
}

.order-title {
  @include section-title;
}

.order-text {
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  margin: 40px 0 90px;

  @media (max-width: $mobile-max) {
    font-size: 18px;
    line-height: 25px;
    margin: 20px 0 60px;
  }
}

