.order {
  background-color: rgba($color-dark, $alpha: 0.1);
  @include section-padding;
}

.order-inner {
  @include inner;
}

.order-title {
  @include section-title;
}

.order-text {
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  margin: 40px 0 90px;

  @media (max-width: $mobile-max) {
    font-size: 18px;
    line-height: 25px;
    margin: 20px 0 60px;
  }
}

