.reviews-slick {
  display: flex;
  margin: 0 30px;

  .slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
    width: 60px;
    height: 60px;
    margin: auto;
    font-size: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 50%;

    @media (max-width: $tablet-max) {
      width: 44px;
      height: 44px;
    }
  }

  .slick-prev {
    left: 0;
    background-image: url('../images/arrow_left.svg');
  }

  .slick-next {
    right: 0;
    background-image: url('../images/arrow_right.svg');
  }
}
